body {
  background-color: #1A090D;
}

section {
  width: 45%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

section img {
  width: 1200px;
}

@media (max-width: 647px) {
  section {
    width: 100%;
  }
  section img {
    width: 200px;
  }
}
